@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

body {
  font-family: "Bungee", cursive;
}
img {
  max-width: 100%;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(../images/assets/toggle.svg);
}
.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.8);
}

/* header menu starts here */
#main-header {
  position: relative;
  background-image: url(../images/assets/headerBg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#main-header .navbar-brand {
  position: absolute;
  left: 5.5%;
  top: 45px;
}
#main-header .navbar-brand img {
  width: 110%;
}
#main-header #navbarSupportedContent {
  margin-right: 100px;
}
#main-header #navbarSupportedContent ul li {
  margin-right: 40px;
}
#main-header #navbarSupportedContent ul li a {
  font-size: 24px;
  color: #fff;
}
#main-header #navbarSupportedContent ul li a:hover {
  opacity: 0.8;
}

/* banner section starts here */
section.banner {
  position: relative;
  padding: 120px 0 200px 0;
}
section.banner .iconImages #square_yellow {
  position: absolute;
  top: 60%;
  left: 10%;
}
section.banner .iconImages #circle_red {
  position: absolute;
  top: 80%;
  left: 20%;
}
section.banner .iconImages #circle_black {
  position: absolute;
  top: 40%;
  right: 10%;
}
section.banner .iconImages #square_yellow2 {
  position: absolute;
  top: 85%;
  right: 5%;
}

section.banner .banner_image {
  text-align: center;
}
section.banner .quote1 {
  position: absolute;
  left: 6%;
  top: 25%;
  width: 346px;
  height: 157px;
  padding: 8px 104px 8px 9px;
  background-image: url(../images/assets/quote1Bg.png);
  background-size: cover;
}
section.banner .quote1 h3 {
  font-size: 24px;
  color: #fff;
  text-align: center;
}
section.banner .quote2 {
  width: 300px;
  height: 175px;
  position: absolute;
  position: absolute;
  right: 13%;
  top: 59%;
  padding: 55px 15px 15px 30px;
  background-image: url(../images/assets/quote2Bg.png);
  background-size: cover;
}
section.banner .quote2 h3 {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

/* form section starts here */
section.infomation {
  position: relative;
  padding: 100px 0;
  background-color: #ffc600;
}
section.infomation .form-group {
  margin-bottom: 30px;
}
section.infomation .form-group:last-child {
  margin-bottom: 0;
}
section.infomation .form-group .form-control {
  border: none;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  padding: 15px;
  height: 55px;
}
section.infomation .form-group .btn-submit {
  background-color: #371a46;
  border: 1px solid #371a46;
  color: #fff;
  padding: 15px 40px;
}
section.infomation .form-group .btn-submit:hover {
  background-color: transparent;
  color: #371a46;
}

section.infomation .infoImage {
  position: absolute;
  bottom: -100px;
  left: 0;
}
section.infomation .infoImage img {
  width: 85%;
}

/* categories section starts here */
section.categories {
  position: relative;
  padding: 30px 0;
}
section.categories .iconImages #square_red {
  position: absolute;
  top: 5%;
  left: 10%;
}
section.categories .iconImages #triangle_yellow {
  position: absolute;
  top: 40%;
  left: 50%;
}
section.categories .categoryImage {
  margin-left: -15px;
}
section.categories h2 {
  font-size: 30px;
  color: #371a46;
  background-image: url(../images/assets/quote3Bg.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 460px;
  height: 258px;
  text-align: center;
  box-sizing: border-box;
  background-size: 88%;
  padding: 75px 0 50px 22px;
  margin: 30px auto;
}
section.categories .brands {
  text-align: center;
}
section.categories .brands h3 {
  font-size: 30px;
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
}

/* features section starts here */
section.features {
  position: relative;
  padding-bottom: 80px;
}
section.features .iconImages #circle_black {
  position: absolute;
  top: 5%;
  right: 10%;
}
section.features .iconImages #circle_red {
  position: absolute;
  top: 70%;
  left: 10%;
}
section.features .iconImages #square_yellow {
  position: absolute;
  top: 20%;
  left: 60%;
}
section.features .iconImages #square_red {
  position: absolute;
  top: 70%;
  left: 50%;
}
section.features .iconImages #triangle_black {
  position: absolute;
  top: 88%;
  left: 50%;
}

section.features ul {
  margin: 0 auto;
  margin-top: 100px;
  width: 70%;
}
section.features ul li {
  font-size: 18px;
  margin-bottom: 80px;
  display: flex;
}
section.features ul li.list1 {
  color: #ffc600;
}
section.features ul li.list1 img {
  margin-right: 15px;
}
section.features ul li.list1 h4 {
}

section.features ul li.list2 {
  color: #fe0000;
}
section.features ul li.list2 img {
  margin-left: 15px;
}
section.features ul li.list2 h4 {
}

section.features ul li.list3 {
  color: #371a46;
}
section.features ul li.list3 img {
  margin-right: 15px;
}
section.features ul li.list3 h4 {
}

section.features .featureImage {
  margin-right: -15px;
  text-align: right;
}

/* footer starts here */
footer {
  position: relative;
  background-image: url(../images/assets/footerBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}
footer .navbar-brand {
  position: absolute;
  left: 7%;
  bottom: 6px;
}
footer .navbar-brand img {
  width: 110%;
}
footer .menu {
  margin-right: 100px;
}
footer .menu ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: row;
  justify-content: flex-end;
}
footer .menu ul li {
  list-style: none;
  margin-right: 40px;
}
footer .menu ul li a {
  padding: 0.5rem 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 24px;
  color: #fff;
  display: block;
}

/* Responsive media queries starts here */
@media screen and (max-width: 1400px) {
  section.banner .quote1 {
    left: 2%;
  }
  section.banner .quote2 {
    right: 7%;
  }
}

@media screen and (max-width: 1200px) {
  #main-header .navbar-brand img {
    width: 86%;
  }
  section.banner .quote1 {
    top: 20%;
  }
  section.banner .quote2 {
    top: 66%;
    right: 2%;
  }
  footer .navbar-brand {
    bottom: 44px;
  }
  footer .navbar-brand img {
    width: 81%;
  }
  section.categories h2 {
    width: 370px;
    padding-top: 50px;
  }
  #main-header #navbarSupportedContent {
    margin-right: 0;
  }
}
@media screen and (max-width: 991px) {
  section.infomation .infoImage {
    position: relative;
  }
  #main-header .navbar-brand {
    top: 30px;
  }
  #main-header .navbar-brand img {
    width: 72%;
  }
  #main-header #navbarSupportedContent {
    position: absolute;
    top: 80px;
    background-color: red;
    width: 100%;
    padding: 15px;
    z-index: 9;
  }
  section.banner .quote1 {
    position: relative;
  }
  section.banner .quote2 {
    position: relative;
    float: right;
  }
}

@media screen and (max-width: 768px) {
  #main-header .navbar-brand {
    left: 7.5%;
  }
  footer .navbar-brand {
    left: 9%;
    bottom: 61px;
  }
  footer .navbar-brand img {
    width: 76%;
  }
  footer .menu {
    margin-right: 0;
    position: relative;
    top: 50px;
  }
  section.infomation .infoImage {
    bottom: -50px;
  }
}
@media screen and (max-width: 600px) {
  section.features ul {
    width: 100%;
  }
  #main-header .navbar-brand {
    left: 9.5%;
  }
  footer .navbar-brand {
    left: 12%;
    bottom: 52px;
  }
  section.features {
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 480px) {
  #main-header .navbar-brand {
    left: 15.5%;
  }
  footer .menu ul li {
    margin-right: 20px;
  }
  footer .menu ul li a {
    font-size: 16px;
  }
  footer .navbar-brand img {
    width: 72%;
  }
}
@media screen and (max-width: 420px) {
  #main-header .navbar-brand img {
    width: 90%;
  }
  footer .navbar-brand img {
    width: 85%;
  }
  section.categories h2 {
    padding-left: 0;
  }
}
